In [1]:
import pandas as pd

In [34]:
data = open("data/2.txt", 'r')

In [35]:
df = data.read()

In [37]:
df.split()

'G'

In [40]:
df = df.split('\n')

In [51]:
df[0].split(';')

['Game 1: 1 green, 4 blue',
 ' 1 blue, 2 green, 1 red',
 ' 1 red, 1 green, 2 blue',
 ' 1 green, 1 red',
 ' 1 green',
 ' 1 green, 1 blue, 1 red']

In [52]:
df[2].split(';')

['Game 3: 6 green, 5 blue, 9 red',
 ' 4 blue, 1 green, 13 red',
 ' 9 green, 14 red, 1 blue']

In [83]:
df[0]

'Game 1: 1 green, 4 blue; 1 blue, 2 green, 1 red; 1 red, 1 green, 2 blue; 1 green, 1 red; 1 green; 1 green, 1 blue, 1 red'

In [93]:
l = []

for id in range(len(df)-1):
    dict_color = {'green': 0 , 'blue': 0 , 'red': 0}

    game = df[id].split(':')[1]
    #number of game
    game_number = df[id].split(':')[0].split(' ')[1]

    sub_game = game.split(';')

    for s_game in sub_game:
        for i in s_game.split(','):

            #color of obeserve
            color = i.split(' ')[2]

            #number of observe
            number = int(i.split(' ')[1])

            #update number of color
            if dict_color[color] < number:
                dict_color[color] = number
    l.append(dict_color)
l

[{'green': 2, 'blue': 4, 'red': 1},
 {'green': 10, 'blue': 18, 'red': 2},
 {'green': 9, 'blue': 5, 'red': 14},
 {'green': 14, 'blue': 10, 'red': 20},
 {'green': 8, 'blue': 15, 'red': 4},
 {'green': 10, 'blue': 6, 'red': 4},
 {'green': 14, 'blue': 5, 'red': 3},
 {'green': 5, 'blue': 5, 'red': 9},
 {'green': 12, 'blue': 8, 'red': 18},
 {'green': 8, 'blue': 2, 'red': 5},
 {'green': 10, 'blue': 10, 'red': 15},
 {'green': 4, 'blue': 13, 'red': 18},
 {'green': 3, 'blue': 7, 'red': 1},
 {'green': 4, 'blue': 18, 'red': 11},
 {'green': 3, 'blue': 10, 'red': 15},
 {'green': 3, 'blue': 2, 'red': 4},
 {'green': 2, 'blue': 14, 'red': 3},
 {'green': 2, 'blue': 8, 'red': 14},
 {'green': 18, 'blue': 11, 'red': 3},
 {'green': 10, 'blue': 4, 'red': 13},
 {'green': 14, 'blue': 8, 'red': 20},
 {'green': 6, 'blue': 11, 'red': 4},
 {'green': 17, 'blue': 2, 'red': 19},
 {'green': 1, 'blue': 1, 'red': 12},
 {'green': 11, 'blue': 14, 'red': 6},
 {'green': 13, 'blue': 13, 'red': 18},
 {'green': 3, 'blue': 12, 'red': 15},
 {'green': 9, 'blue': 5, 'red': 19},
 {'green': 10, 'blue': 6, 'red': 19},
 {'green': 1, 'blue': 12, 'red': 13},
 {'green': 11, 'blue': 18, 'red': 17},
 {'green': 17, 'blue': 7, 'red': 18},
 {'green': 3, 'blue': 16, 'red': 4},
 {'green': 10, 'blue': 15, 'red': 9},
 {'green': 12, 'blue': 10, 'red': 16},
 {'green': 9, 'blue': 7, 'red': 11},
 {'green': 19, 'blue': 14, 'red': 7},
 {'green': 5, 'blue': 13, 'red': 9},
 {'green': 5, 'blue': 6, 'red': 18},
 {'green': 11, 'blue': 20, 'red': 12},
 {'green': 2, 'blue': 2, 'red': 10},
 {'green': 6, 'blue': 3, 'red': 12},
 {'green': 4, 'blue': 2, 'red': 8},
 {'green': 13, 'blue': 4, 'red': 19},
 {'green': 6, 'blue': 10, 'red': 5},
 {'green': 10, 'blue': 12, 'red': 9},
 {'green': 3, 'blue': 2, 'red': 14},
 {'green': 14, 'blue': 13, 'red': 2},
 {'green': 5, 'blue': 10, 'red': 2},
 {'green': 10, 'blue': 3, 'red': 7},
 {'green': 15, 'blue': 11, 'red': 20},
 {'green': 12, 'blue': 3, 'red': 1},
 {'green': 16, 'blue': 12, 'red': 11},
 {'green': 11, 'blue': 9, 'red': 3},
 {'green': 4, 'blue': 13, 'red': 12},
 {'green': 15, 'blue': 12, 'red': 8},
 {'green': 20, 'blue': 14, 'red': 18},
 {'green': 18, 'blue': 15, 'red': 8},
 {'green': 17, 'blue': 3, 'red': 2},
 {'green': 13, 'blue': 4, 'red': 4},
 {'green': 1, 'blue': 10, 'red': 8},
 {'green': 4, 'blue': 8, 'red': 10},
 {'green': 6, 'blue': 5, 'red': 7},
 {'green': 5, 'blue': 20, 'red': 6},
 {'green': 20, 'blue': 9, 'red': 12},
 {'green': 4, 'blue': 13, 'red': 5},
 {'green': 18, 'blue': 16, 'red': 18},
 {'green': 7, 'blue': 1, 'red': 9},
 {'green': 12, 'blue': 13, 'red': 8},
 {'green': 11, 'blue': 14, 'red': 12},
 {'green': 2, 'blue': 10, 'red': 9},
 {'green': 4, 'blue': 6, 'red': 5},
 {'green': 7, 'blue': 1, 'red': 3},
 {'green': 4, 'blue': 8, 'red': 4},
 {'green': 14, 'blue': 12, 'red': 10},
 {'green': 2, 'blue': 1, 'red': 16},
 {'green': 12, 'blue': 15, 'red': 7},
 {'green': 15, 'blue': 11, 'red': 11},
 {'green': 13, 'blue': 6, 'red': 14},
 {'green': 12, 'blue': 8, 'red': 8},
 {'green': 12, 'blue': 4, 'red': 14},
 {'green': 11, 'blue': 2, 'red': 2},
 {'green': 13, 'blue': 12, 'red': 11},
 {'green': 16, 'blue': 5, 'red': 8},
 {'green': 10, 'blue': 20, 'red': 14},
 {'green': 18, 'blue': 5, 'red': 14},
 {'green': 4, 'blue': 13, 'red': 8},
 {'green': 6, 'blue': 9, 'red': 12},
 {'green': 3, 'blue': 1, 'red': 7},
 {'green': 13, 'blue': 12, 'red': 8},
 {'green': 16, 'blue': 5, 'red': 2},
 {'green': 8, 'blue': 14, 'red': 14},
 {'green': 5, 'blue': 3, 'red': 16},
 {'green': 2, 'blue': 3, 'red': 9},
 {'green': 4, 'blue': 15, 'red': 7},
 {'green': 11, 'blue': 14, 'red': 1},
 {'green': 13, 'blue': 9, 'red': 2},
 {'green': 2, 'blue': 4, 'red': 5},
 {'green': 4, 'blue': 6, 'red': 17},
 {'green': 14, 'blue': 2, 'red': 14}]

In [97]:
#12 red cubes, 13 green cubes, and 14 blue cubes

{'green': 14, 'blue': 2, 'red': 14}

In [103]:
sum_ids = 0

for id , game in enumerate(l):

    if game['red'] < 13 and game['green'] < 14 and game['blue'] < 15:
        sum_ids += id + 1

sum_ids

2486

In [104]:
add_up = 0
for id , game in enumerate(l):
    multiplic = game['red'] * game ['green'] * game['blue']
    add_up += multiplic

add_up

87984